<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header-link') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container my-5">
      <h2 class="text-center">Compose a Blog</h2>
      <div class="row justify-content-center">
        <form
          action="/blog"
          method="POST"
          enctype="multipart/form-data"
          class="col-8"
          id="newForm"
        >
          <div class="form-group my-4">
            <label for="title" class="form-label">Blog Title</label>
            <input
              type="text"
              class="form-control"
              id="blogTitle"
              name="blogTitle"
              placeholder="Give a suitable blog name.."
            />
          </div>
          <div class="form-group mb-4">
            <label for="blogBody" class="form-label">Write Something</label>
            <textarea
              class="form-control"
              id="blogBody"
              name="blogBody"
              rows="6"
            ></textarea>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkBox"
            />
            <label class="form-check-label" for="checkBox"> Add a image </label>
          </div>
          <div>
            <label for="formFile" class="form-label">Add a image</label>
            <input
              class="form-control"
              type="file"
              id="imgPicker"
              name="imgFile"
            />
          </div>
          <p class="text-muted mb-3"><em>prefer image height 500px</em></p>
          <input type="hidden" name="user_id" value="<%=id%>" />
          <div class="d-flex justify-content-md-center">
            <button type="submit" class="btn btn-success mx-2" id="formBtn">
              Publish
            </button>
            <a type="button" class="btn btn-outline-secondary mx-2" href="/blog"
              >Back</a
            >
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/footer-link') %>
    <script>
      let formId = document.getElementById("newForm");
      let file = document.getElementById("imgPicker");
      let btn = document.getElementById("formBtn");
      let check = document.getElementById("checkBox");
      formId.setAttribute("action", "/blog/new");
      btn.disabled = false;
      file.disabled = true;
      formId.removeAttribute("enctype");
      check.onchange = () => {
        if (file.disabled) {
          file.disabled = false;
          formId.setAttribute("action", "/blog");
          formId.setAttribute("enctype", "multipart/form-data");
          btn.disabled = true;
          checkfile();
        } else {
          file.disabled = true;
          formId.setAttribute("action", "/blog/new");
          formId.removeAttribute("enctype");
          btn.disabled = false;
        }
      };
      function checkfile() {
        if (file.files.length == 0) {
          btn.disabled = true;
        } else {
          btn.disabled = false;
        }
      }
      file.onchange = checkfile;
    </script>
  </body>
  <%- include('../partials/footer') %>
</html>
